/*
 * Globals
 *  #0071A7
 *  #13B0A5
 *  #67BC9A
 *  #B4D6A4
 *  #F8F2AB
 */

/* Links */
a,
a:focus,
a:hover {
    text-decoration: none;
    color: #0071A7;
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #B4D6A4;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #0071A7;
    font-size: large;
}
